## Create a tuple called data with two values (1,2) & (3,4)

In [7]:
data=((1,2),(3,4))
print(data)
type(data)

((1, 2), (3, 4))

tuple

## create the list[4,3,2,1] & assign it to variable numbers

In [13]:
numbers=[4,3,2,1]
print(numbers)
type(numbers)

[4, 3, 2, 1]

list

## create a copy of the number list using [:]

In [15]:
numbers_copy=numbers[:]
numbers_copy

[4, 3, 2, 1]

## sort the number list in numerical order

In [17]:
numbers.sort()
numbers

[1, 2, 3, 4]

## create a tuple "cardinal_number" with "first","second","third"

In [20]:
cardinal_number=("first","second","third")
cardinal_number

('first', 'second', 'third')

## display the second object in the tuple

In [21]:
cardinal_number[1]

'second'

## Unpack the tuple into three strings and display them

In [22]:
position1,position2,position3=cardinal_numbers
print(position1)
print(position2)
print(position3)

first
second
third

## create a tuple containing the letters of your name from a string

In [23]:
my_name=tuple("Neeraj jangra")
my_name

('N', 'e', 'e', 'r', 'a', 'j', ' ', 'j', 'a', 'n', 'g', 'r', 'a')

## check whether or not x is in my_name

In [24]:
print("x" in my_name)

False

In [26]:
print("s" in my_name)

False

In [27]:
print("j" in my_name)

True

In [28]:
print("x" not in my_name)

True